ul li {
  display: inline-block;
  list-style: none; 
}
a:hover {
  text-decoration: none !important;
}
.line-show{
  height:5px;
  width: 100%;
  background:#f50057;
  transition:all 0.3s
}
.line{
  height:5px;
  width:0%;
  background:#f50057;
  transition:all 0.3s
}
.nav-item:hover .line{
  width:100%;
  transition:all 0.3s;
  color : #f50057;
}
.nav-item:hover {
  color : #f50057;
}
.nav-item{
  margin-right:10px
}
.bg-color {
  background-image: linear-gradient(to top, #ffffff, #f8f9fd, #eef4fb, #e2f0f8, #d5ecf2, #d5ecf2, #d5ecf2, #d5ecf2, #e2f0f8, #eef4fb, #f8f9fd, #ffffff);
}
.pull-right {
  float: right!important;
}
.list-group-unbordered > .list-group-item {
  border-left: 0px none;
  border-right: 0px none;
  border-radius: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.gblock-v2 .block-calender {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.row-calendar {
  max-width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: -5px;
}
.calendar-normal, .calendar-active {
  margin-bottom: 10px;
}
.mr-30 {
  margin-left: 30px !important;
}

.paper{
  transition: transform 0.5s;
}
.paper:hover{
  transform: scale(1.05 , 1.05);
}

.row-calendar ul li {
  display: flex;
  list-style: none;
}

